#Visual Studio Cruft
.vs/
.ionide/

#JetBrains Cruft
.idea/

#NServiceBus Cruft
.learningtransport/

#Temporary Objects
obj/

#Binary Output
bin/

#Client build output
build/

#NPM horribad lock file
# package-lock.json

#Webpack Build Output
wwwroot/

#Node Modules
node_modules/

#JEST Code Coverage
coverage/

# misc
*.user
.DS_Store
.env
e2e/output/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/src/Packages/Messages.Contracts/Pie.Quote.Messages.Contracts.xml
/src/Worker.Tests/coverage.opencover.xml

test-report.html