<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="dependencyVersion" value="Highest" />
		<add key="defaultPushSource" value="https://artifacts.pieinsurance.com/repository/nuget.s3/" />
	</config>
	<packageSources>
		<add key="pie-insurance" value="https://artifacts.pieinsurance.com/repository/nuget.s3/" />
	</packageSources>
</configuration>
